footer {
    color: #fff;
    background: #103b1b;
    padding: 0 0 15px;
    display: block;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 15px rgba(0, 0, 0, .075)
}

.main-footer {
    background: #103b1b !important;
    padding: 0
}

.footer-copyright {
    height: 30px;
    background-color: rgba(51, 51, 51, .08);
    background-color: #9C8412 !important;
    text-align: right
}

.footer-copyright,
footer .address,
footer .address>li>a {
    color: hsla(0, 0%, 100%, .8)
}

.footer-contact {
    float: right;
    text-align: right;
    padding: 0 25px
}

footer .address>li {
    list-style: none
}

.treeview-menu>li>a>i.fa.fa-circle-o {
    font-size: xx-small
}

@media (max-width:723px) {
    .footer-copyright {
        height: 45px;
        font-size: .9em
    }
}

@media (max-width:807px) {
    .footer-copyright {
        font-size: .9em
    }
}

@media (max-width:620px) {
    .footer-copyright {
        height: 50px;
        font-size: .9em
    }
}

.pagination {
    margin: 0
}

.error {
    color: #a94442;
    font-size: 12px
}

.modal-fullscreen {
    background: #fff
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.modal-backdrop.modal-backdrop-fullscreen {
    background: #fff
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
    filter: alpha(opacity=97)
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%
}

@media (min-width:768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px
    }
}

@media (min-width:992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px
    }
}

@media (min-width:1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px
    }
}

.cancelado {
    color: #a94442;
    background-color: #ebcccc !important
}

.centro {
    text-align: center
}

.centro i {
    font-weight: 700
}

.amarillo {
    color: #b8860b
}

.rojo {
    color: darkred
}

.verde {
    color: #006400
}

.blanco {
    background: #fff
}

#cargando.modal.in .modal-dialog {
    top: 30%
}

.embed-responsive-16by9 {
    padding-bottom: 40.25%
}

@media (max-width:1533px) {
    .embed-responsive-16by9 {
        padding-bottom: 50.25%
    }
}

@media (max-width:1120px) {
    .embed-responsive-16by9 {
        padding-bottom: 60.25%
    }
}

@media (max-width:768px) {
    .embed-responsive-16by9 {
        padding-bottom: 70%
    }
}

@media (max-width:460px) {
    .embed-responsive-16by9 {
        padding-bottom: 100%
    }
}

@media (max-width:375px) {
    .embed-responsive-16by9 {
        padding-bottom: 150%
    }
}

#divExpandir.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 1s ease-in-out;
    top: 0;
    left: 0
}

.bg-uaem {
    background-color: #2c5336 !important
}

.bg-uaem-gold {
    background-color: #c0a717 !important;
    color: #fff
}

.bg-bac {
    background-color: #7b423c !important
}

.bg-lic {
    background-color: #00595d !important
}

.bg-pos {
    background-color: #a38704 !important
}

.small-box h3,
.small-box p {
    color: #fff
}

.main-header {
    max-height: 176px
}

.alert-info,
.bg-aqua,
.callout.callout-info,
.label-info,
.modal-info .modal-body {
    background-color: #00c0ef !important
}

.centrado {
    margin: auto;
    text-align: center;
}

button.verde:hover {
    color: rgb(194, 171, 45, .8);
}

button.oro:hover {
    color: rgb(16, 59, 27, 3);
}

.verde {
    background: rgba(63, 112, 73, 1);
    background: -moz-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63, 112, 73, 1)), color-stop(63%, rgba(63, 112, 73, 1)), color-stop(100%, rgba(63, 112, 73, 1)));
    background: -webkit-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -o-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -ms-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: linear-gradient(to right, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3f7049', endColorstr='#3f7049', GradientType=1);
    color: white;
}

.oro {
    background: rgba(192, 167, 23, 1);
    background: -moz-linear-gradient(left, rgba(192, 167, 23, 1) 0%, rgba(192, 167, 23, 1) 63%, rgba(192, 167, 23, 1) 70%, rgba(192, 167, 23, 1) 75%, rgba(192, 167, 23, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192, 167, 23, 1)), color-stop(63%, rgba(192, 167, 23, 1)), color-stop(70%, rgba(192, 167, 23, 1)), color-stop(75%, rgba(192, 167, 23, 1)), color-stop(100%, rgba(192, 167, 23, 1)));
    background: -webkit-linear-gradient(left, rgba(192, 167, 23, 1) 0%, rgba(192, 167, 23, 1) 63%, rgba(192, 167, 23, 1) 70%, rgba(192, 167, 23, 1) 75%, rgba(192, 167, 23, 1) 100%);
    background: -o-linear-gradient(left, rgba(192, 167, 23, 1) 0%, rgba(192, 167, 23, 1) 63%, rgba(192, 167, 23, 1) 70%, rgba(192, 167, 23, 1) 75%, rgba(192, 167, 23, 1) 100%);
    background: -ms-linear-gradient(left, rgba(192, 167, 23, 1) 0%, rgba(192, 167, 23, 1) 63%, rgba(192, 167, 23, 1) 70%, rgba(192, 167, 23, 1) 75%, rgba(192, 167, 23, 1) 100%);
    background: linear-gradient(to right, rgba(192, 167, 23, 1) 0%, rgba(192, 167, 23, 1) 63%, rgba(192, 167, 23, 1) 70%, rgba(192, 167, 23, 1) 75%, rgba(192, 167, 23, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c0a717', endColorstr='#c0a717', GradientType=1);
    color: white;
}

.text-verde {
    color: #2c5234;
}

.text-oro {
    color: #9C8412;
}

body {
    background-color: rgba(180, 216, 189, 0.1);
}

.oro-verde {
    background: rgba(159, 133, 18, 1);
    background: -moz-linear-gradient(left, rgba(159, 133, 18, 1) 0%, rgba(159, 133, 18, 1) 62%, rgba(16, 59, 27, 1) 63%, rgba(16, 59, 27, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159, 133, 18, 1)), color-stop(62%, rgba(159, 133, 18, 1)), color-stop(63%, rgba(16, 59, 27, 1)), color-stop(100%, rgba(16, 59, 27, 1)));
    background: -webkit-linear-gradient(left, rgba(159, 133, 18, 1) 0%, rgba(159, 133, 18, 1) 62%, rgba(16, 59, 27, 1) 63%, rgba(16, 59, 27, 1) 100%);
    background: -o-linear-gradient(left, rgba(159, 133, 18, 1) 0%, rgba(159, 133, 18, 1) 62%, rgba(16, 59, 27, 1) 63%, rgba(16, 59, 27, 1) 100%);
    background: -ms-linear-gradient(left, rgba(159, 133, 18, 1) 0%, rgba(159, 133, 18, 1) 62%, rgba(16, 59, 27, 1) 63%, rgba(16, 59, 27, 1) 100%);
    background: linear-gradient(to right, rgba(159, 133, 18, 1) 0%, rgba(159, 133, 18, 1) 62%, rgba(16, 59, 27, 1) 63%, rgba(16, 59, 27, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9f8512', endColorstr='#103b1b', GradientType=1);
}

.verde-oro {
    background: rgba(44, 82, 52, 1);
    background: -moz-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44, 82, 52, 1)), color-stop(75%, rgba(44, 82, 52, 1)), color-stop(75%, rgba(156, 132, 18, 1)), color-stop(100%, rgba(156, 132, 18, 1)));
    background: -webkit-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -o-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -ms-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: linear-gradient(to right, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2c5234', endColorstr='#9c8412', GradientType=1);
}

.modal-title {
    background: rgba(63, 112, 73, 1);
    background: -moz-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63, 112, 73, 1)), color-stop(63%, rgba(63, 112, 73, 1)), color-stop(100%, rgba(63, 112, 73, 1)));
    background: -webkit-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -o-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: -ms-linear-gradient(left, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    background: linear-gradient(to right, rgba(63, 112, 73, 1) 0%, rgba(63, 112, 73, 1) 63%, rgba(63, 112, 73, 1) 100%);
    width: 100%;
    padding: 1.4%;
    text-align: center;
    color: white;
}

.linea-vo {
    background: rgba(44, 82, 52, 1);
    background: -moz-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44, 82, 52, 1)), color-stop(75%, rgba(44, 82, 52, 1)), color-stop(75%, rgba(156, 132, 18, 1)), color-stop(100%, rgba(156, 132, 18, 1)));
    background: -webkit-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -o-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: -ms-linear-gradient(left, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    background: linear-gradient(to right, rgba(44, 82, 52, 1) 0%, rgba(44, 82, 52, 1) 75%, rgba(156, 132, 18, 1) 75%, rgba(156, 132, 18, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2c5234', endColorstr='#9c8412', GradientType=1);
    width: 100%;
    height: .4em;
}

.linea-ov {
    background: rgba(156, 132, 18, 1);
    background: -moz-linear-gradient(left, rgba(156, 132, 18, 1) 0%, rgba(156, 132, 18, 1) 75%, rgba(44, 82, 52, 1) 75%, rgba(44, 82, 52, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156, 132, 18, 1)), color-stop(75%, rgba(156, 132, 18, 1)), color-stop(75%, rgba(44, 82, 52, 1)), color-stop(100%, rgba(44, 82, 52, 1)));
    background: -webkit-linear-gradient(left, rgba(156, 132, 18, 1) 0%, rgba(156, 132, 18, 1) 75%, rgba(44, 82, 52, 1) 75%, rgba(44, 82, 52, 1) 100%);
    background: -o-linear-gradient(left, rgba(156, 132, 18, 1) 0%, rgba(156, 132, 18, 1) 75%, rgba(44, 82, 52, 1) 75%, rgba(44, 82, 52, 1) 100%);
    background: -ms-linear-gradient(left, rgba(156, 132, 18, 1) 0%, rgba(156, 132, 18, 1) 75%, rgba(44, 82, 52, 1) 75%, rgba(44, 82, 52, 1) 100%);
    background: linear-gradient(to right, rgba(156, 132, 18, 1) 0%, rgba(156, 132, 18, 1) 75%, rgba(44, 82, 52, 1) 75%, rgba(44, 82, 52, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9c8412', endColorstr='#2c5234', GradientType=1);
    width: 100%;
    height: .3em;
}

.alert-verde-pastel {
    background-color: rgb(212, 237, 218, 1);
}
.alert-verde-1 {
    background-color: rgb(212, 237, 218, 0.3);
}


.rojo-1{
    background-color: rgba(206, 99, 85, 0.5);
}


/*

oro hexadecimal: #c0a717
verde hex: #103b1b
*/